<div class="loading-indicator" *ngIf="showLoading">
  <mat-progress-spinner class="mat-spinner " mode="indeterminate" color="primary"></mat-progress-spinner>
  <div class="col-xs-12 col-sm-12 col-md-12 ">loading...</div>
</div>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Thumbnail </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <a ng-src=""> <img src="{{element.snippet.thumbnails.default.url}}"></a>  </mat-cell>
    </ng-container>


    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.snippet.title}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.snippet.description}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="publishedAt">
      <mat-header-cell *matHeaderCellDef> Publish At </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.snippet.publishedAt | date}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="pageChange($event)">
  </mat-paginator>

</div>